* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.detail {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  z-index: 100;
  box-shadow: 0 0 10px 4px #555151;
  background-color: #9a8873;
  color: #e8e8e8;
  overflow: hidden;
  transition: all 250ms ease-out;
  border-radius: 80% 80% 30%/20% 20% 0% 0%;
}
.close {
  opacity: 0;
  transform: translateY(100%);
}
.open {
  opacity: 1;
  /* transform: translateY(-100%); */
}
.closeModal {
  color: #ff4242;
  text-align: center;
  transition: all 0.3s ease;
  width: fit-content;
  height: fit-content;
  font-size: 2rem;
  cursor: pointer;
  z-index: 2000;
  position: absolute;
  transform: translate(-50%, -50%);
}

.closeModal:hover {
  color: #fff;
}
.closeModal svg:hover {
  animation: bounce 3s ease infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-17px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(6px);
  }
  57% {
    transform: scale(1, 1) translateY(-8px);
  }
  64% {
    transform: scale(1, 1) translateY(-3px);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.detailContent {
  display: flex;
  gap: 2rem;
  padding: 0.5rem 0 0.2rem;
}

.title {
  border-bottom: 1px solid rgb(53, 50, 50);
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 320px) {
  .detailContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .detail {
    padding-top: 2rem;
  }
  .closeModal {
    top: 8%;
    left: 50%;
  }
}

@media (min-width: 1000px) {
  .detailContent {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    justify-content: space-between;
  }
  .detail {
    padding-top: 4rem;
  }
  .closeModal {
    top: 10%;
    left: 50%;
  }
}
